body{
    background-color: #e31d42;
}

li:hover{
    border-radius: 5px;
    background-color: #e31d42;
}

.nav-link:hover{
    color: white !important;
}

.nav-link:focus{
    color: white !important;
}

.dropdown-item:hover{
    border-radius: 5px;
    background-color: #e31d42;
    color: white;
}