@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
}
  
@keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
}

body{
    background-color:#e31d42;
}

.panel-hover{
    transition: all 1s ease-in-out;
}

.panel-hover:hover{
    transform: scale(1.1);
}

li:hover{
    border-radius: 5px;
    background-color: #e31d42;
    color: white;
}


.nav-link:hover{
    color: white !important;
}

.nav-link:focus{
    color: white !important;
}

.dropdown-item:hover{
    border-radius: 5px;
    background-color: #e31d42;
    color: white;
}

.scene_element{
    animation-duration: 2s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}

.scene_element--fadeinup{
    animation-name: fadeInUp;
}

.scene_element--fadeinright{
    animation-name: fadeInRight;
}

.is-exiting {
    animation-direction: alternate-reverse;
}